%blockquote
  - reply_to = MongoidForums::Post.find(post.reply_to_id)
  = reply_to.user.forum_display_name
  said
  = time_ago_in_words(reply_to.created_at)
  ago
  %br
  >
  = mongoid_forums_format(reply_to.text)
