%h3 Listing all admins
%table{:border => "1"}
  %tr
    %th
      Name

  - @admins.each do |admin|
    %tr
      %td
        = admin.forum_display_name
      %td
        = button_to "Remove", admin_user_remove_admin_path("dummy", user: {id: admin.id}), method: :post, data: { confirm: 'Are you certain you want to delete this?' }

= form_tag admin_user_add_admin_path("dummy"), :method => :post do
  = collection_select(:user, :id, @non_admins, :id, :email, {:prompt => true})
  %button
    Add
