= simple_form_for [:admin, @forum] do |f|
  = f.input :name
  = f.input :category, collection: MongoidForums::Category.all
  = f.submit "Update Forum", :class => "btn", :disable_with => "Updating..."
