<!DOCTYPE html>
<html>
<head>
  <title>MongoidForums</title>
  <%= stylesheet_link_tag    "mongoid_forums/application", media: "all" %>
  <%= javascript_include_tag "mongoid_forums/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
